.top-slide
    .top-slider__inner
        .top-slider__item
            img(src="../img/top-slide.jpg" alt="" data-index="1")
        .top-slider__item
            img(src="../img/top-slide.jpg" alt="" data-index="2")
        .top-slider__item
            img(src="../img/top-slide.jpg" alt="" data-index="3")
        .top-slider__item
            img(src="../img/top-slide.jpg" alt="" data-index="4")
        .top-slider__item
            img(src="../img/top-slide.jpg" alt="" data-index="5")
    .top-slide-counter
        .top-slide-counter__inner
            .counter-current 
            .counter-total 
    .slider-nav-thumbnails
        .slide-thumbnail
            img(src="../img/top-slide-sm.png" slide="slide_1")
        .slide-thumbnail
            img(src="../img/top-slide-sm2.png" slide="slide_2")
        .slide-thumbnail
            img(src="../img/top-slide-sm.png" slide="slide_3")
        .slide-thumbnail
            img(src="../img/top-slide-sm.png" slide="slide_4")
        .slide-thumbnail
            img(src="../img/top-slide-sm.png" slide="slide_5")
