.footer
    .footer-top
        include ../../blocks/footer-logo/footer-logo.pug
        include ../../blocks/footer-text/footer-text.pug
    .footer-bottom
        include ../../blocks/footer-info/footer-info.pug
        include ../../blocks/footer-nav/footer-nav.pug
    .footer-policy
        include ../../blocks/footer-policy/footer-policy