.side-socials__inner
    ul.side-socials__items
        li.side-socials__item
            a(href="#").side-socials__link Facebook
        li.side-socials__item
            a(href="#").side-socials__link Instagram
        li.side-socials__item
            a(href="#").side-socials__link Youtube
