.categories
    .categories__inner
        .categories__item
            .categories__subtitle Categorie
            .categories__title Soba de teracotă-cazan   
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        .categories__item
            .categories__subtitle Categorie
            .categories__title  Șemineul cazan  
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        .categories__item
            .categories__subtitle Categorie
            .categories__title Sistemul de sobe  
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        .categories__item
            .categories__subtitle Categorie
            .categories__title Sobele sistem - BSG  
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        //- .categories__item
        //-     .categories__subtitle Categorie
        //-     .categories__title Soba de teracotă-cazan   
        //-     .categories__items
        //-         .categories__text Lista de produse
        //-         svg(class="catalog__svg")
        //-             use(xlink:href="img/icons/sprite.svg#arrow-right")  
        //- .categories__item
        //-     .categories__subtitle Categorie
        //-     .categories__title  Șemineul cazan  
        //-     .categories__items
        //-         .categories__text Lista de produse
        //-         svg(class="catalog__svg")
        //-             use(xlink:href="img/icons/sprite.svg#arrow-right")  
        //- .categories__item
        //-     .categories__subtitle Categorie
        //-     .categories__title Sistemul de sobe  
        //-     .categories__items
        //-         .categories__text Lista de produse
        //-         svg(class="catalog__svg")
        //-             use(xlink:href="img/icons/sprite.svg#arrow-right")  
        //- .categories__item
        //-     .categories__subtitle Categorie
        //-     .categories__title Sobele sistem - BSG  
        //-     .categories__items
        //-         .categories__text Lista de produse
        //-         svg(class="catalog__svg")
        //-             use(xlink:href="img/icons/sprite.svg#arrow-right")  