.categories
    .categories__inner
        .categories__item
            .categories__subtitle Categorie
            .categories__title.title-first Soba de teracotă-cazan   
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        .categories__item
            .categories__subtitle Categorie
            .categories__title.title-second   Șemineul cazan  
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        .categories__item
            .categories__subtitle Categorie
            .categories__title.title-third  Sistemul de sobe  
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        .categories__item
            .categories__subtitle Categorie
            .categories__title.title-fourth Sobele sistem - BSG  
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        .categories__item
            .categories__subtitle Categorie
            .categories__title.title-first Soba de teracotă-cazan   
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        .categories__item
            .categories__subtitle Categorie
            .categories__title.title-second   Șemineul cazan  
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        .categories__item
            .categories__subtitle Categorie
            .categories__title.title-third  Sistemul de sobe  
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
        .categories__item
            .categories__subtitle Categorie
            .categories__title.title-fourth Sobele sistem - BSG  
            .categories__items
                .categories__text Lista de produse
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
    button(type="button" class="category-prev") prevoius
    button(type="button" class="category-next") next