.footer__policy
    .footer__policy-items
        p.footer__policy-text Toate drepturile rezervate de ArtKamin © 2020
    .footer__policy-items
        svg(class="dev__svg")
            use(xlink:href="img/icons/sprite.svg#dev")   
        p.footer__policy-text developed by ilab.md 