.catalog-list
    .catalog-list_item
        img(src="../img/catalog/catalog1.jpg" alt="")
        .catalog-list_inner
            .catalog-list_header
                .catalog-list_title  Bio 
                p.catalog-list_text Instalare ușoară și mobilitate inaltă
            .catalog-list_icon 
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
    .catalog-list_item
        img(src="../img/catalog/catalog2.jpg" alt="")
        .catalog-list_inner
            .catalog-list_header
                .catalog-list_title   Lemne
                p.catalog-list_text ICăldura unei flăcări vii și o încălzire eficientă!
            .catalog-list_icon 
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  
    .catalog-list_item
        img(src="../img/catalog/catalog3.jpg" alt="")
        .catalog-list_inner
            .catalog-list_header
                .catalog-list_title   Electro
                p.catalog-list_text Absența fumului, funinginii, cenușii și scântei 
            .catalog-list_icon 
                svg(class="catalog__svg")
                    use(xlink:href="img/icons/sprite.svg#arrow-right")  