.footer__nav
    .footer__nav-items
        h4.footer__nav-title Categorii 
        p.footer__nav-text  Șeminee 
        p.footer__nav-text  Sobe din fonta
        p.footer__nav-text  Sisteme de coș de fum
        p.footer__nav-text   Barbeque
        p.footer__nav-text   Accesorii pentru șeminee 
        p.footer__nav-text   Consumabile
    .footer__nav-items
        h4.footer__nav-title Categorii 
        p.footer__nav-text  Sobe din fonta
        p.footer__nav-text  Sisteme de coș de fum
        p.footer__nav-text   Barbeque
        p.footer__nav-text   Accesorii pentru șeminee 
        p.footer__nav-text   Consumabile
    .footer__nav-items
        h4.footer__nav-title Categorii 
        p.footer__nav-text  Sobe din fonta
        p.footer__nav-text  Sisteme de coș de fum
        p.footer__nav-text   Barbeque
        p.footer__nav-text   Accesorii pentru șeminee 
        p.footer__nav-text   Consumabile