.feature-content__inner
    .feature-content-title  Sisteme de coș de fum 
    .feature-content-text Produsele ce îmbină tehnologia avansată cu designul modern, concepute special pentru a îmbunătăţi calitatea vieţii 
    include ../../blocks/tabs/tabs.pug
    button.btn Vezi catalogul 