.tabs
    input(type="radio" name="tabs" id="tabone" checked="checked")
    label(for="tabone") 
    .tab
        ul.content-list
            li.content__block
                h2.block__title CERAMICA
                ul.block-list
                    .item__text  Vă oferim o gamă variată de șeminee moderne la prețuri de importator direct. Alegerea șemineului potrivit oferă echilibrul perfect între căldură și economie. 
            li.content__block
                h2.block__title  DIN INOX 
                ul.block-list 
                    .item__text  Vă oferim o gamă variată de șeminee moderne la prețuri de importator direct. Alegerea șemineului potrivit oferă echilibrul perfect între căldură și economie. 
            li.content__block
                h2.block__title SOLUŢII PENTRU RACORDARE
                ul.block-list 
                    .item__text  Vă oferim o gamă variată de șeminee moderne la prețuri de importator direct. Alegerea șemineului potrivit oferă echilibrul perfect între căldură și economie. 
