.project__inner
    .project__header
        .project__title Proiecte
        .project__text O gamă variată de asortiment pentru șemineu. În funcție de dimensiunea, scopul și tipul sistemului de încălzire.
        button.btn.project-btn  Vezi mai multe
    .project__content
        .project__item
            img(src="../img/project/project6.jpeg" alt="")
            .project__text-block
                h3.project-block-title  Soba de teracotă-cazan
                .block-inner 
                    p.project-block-text despre proiect 
                    svg(class="project__svg")
                        use(xlink:href="img/icons/sprite.svg#arrow-right")
        .project__item
            img(src="../img/project/project2.jpg" alt="")
            .project__text-block
                h3.project-block-title  Soba de teracotă-cazan
                .block-inner 
                    p.project-block-text despre proiect 
                    svg(class="project__svg")
                        use(xlink:href="img/icons/sprite.svg#arrow-right")
        .project__item
            img(src="../img/project/project3.jpeg" alt="")
            .project__text-block
                h3.project-block-title  Soba de teracotă-cazan
                .block-inner 
                    p.project-block-text despre proiect 
                    svg(class="project__svg")
                        use(xlink:href="img/icons/sprite.svg#arrow-right")
        .project__item
            img(src="../img/project/project4.jpeg" alt="")
            .project__text-block
                h3.project-block-title  Soba de teracotă-cazan
                .block-inner 
                    p.project-block-text despre proiect 
                    svg(class="project__svg")
                        use(xlink:href="img/icons/sprite.svg#arrow-right")
        .project__item
            img(src="../img/project/project5.jpeg" alt="")
            .project__text-block
                h3.project-block-title  Soba de teracotă-cazan
                .block-inner 
                    p.project-block-text despre proiect 
                    svg(class="project__svg")
                        use(xlink:href="img/icons/sprite.svg#arrow-right")
        .project__item
            img(src="../img/project/project6.jpeg" alt="")
            .project__text-block
                h3.project-block-title  Soba de teracotă-cazan
                .block-inner 
                    p.project-block-text despre proiect 
                    svg(class="project__svg")
                        use(xlink:href="img/icons/sprite.svg#arrow-right")
        .project__item
            img(src="../img/project/project7.jpeg" alt="")
            .project__text-block
                h3.project-block-title  Soba de teracotă-cazan
                .block-inner 
                    p.project-block-text despre proiect 
                    svg(class="project__svg")
                        use(xlink:href="img/icons/sprite.svg#arrow-right")
        .project__item
            img(src="../img/project/project8.jpeg" alt="")
            .project__text-block
                h3.project-block-title  Soba de teracotă-cazan
                .block-inner 
                    p.project-block-text despre proiect 
                    svg(class="project__svg")
                        use(xlink:href="img/icons/sprite.svg#arrow-right")