.top-slider-inner
    .top-slider-content
        h2.top-slider-content-title Colecție nouă de șeminee 
        p.top-slider-content-text Alegerea șemineului potrivit oferă echilibrul perfect între căldură și economie.
        button.btn.top-slider-content-btn  Vezi colecția 
