.catalog-content_inner
    .catalog-content_items
        h2.catalog-content_title Șeminee moderne
        p.catalog-content_text Vă oferim o gamă variată de șeminee moderne la prețuri de importator direct.
        p.catalog-content_text Alegerea șemineului potrivit oferă echilibrul perfect între căldură și economie.
        button.btn Vezi catalogul 