.footer__info 
    .footer__info-item
        svg(class="info__svg")
            use(xlink:href="img/icons/sprite.svg#map")
        a(href="").footer__info-text Chișinău, Dacia 88, MD 2020
    .footer__info-item
        svg(class="info__svg")
            use(xlink:href="img/icons/sprite.svg#phone")
        a(href="").footer__info-text  +37369782456 
    .footer__info-item
        svg(class="info__svg")
            use(xlink:href="img/icons/sprite.svg#mail")
        a(href="").footer__info-text artflame@gmail.com
    .footer__info-socials
        p.footer__socials-text Rețele sociale
        svg(class="social__svg")
            use(xlink:href="img/icons/sprite.svg#instagram")
        svg(class="social__svg")
            use(xlink:href="img/icons/sprite.svg#facebook")
        svg(class="social__svg")
            use(xlink:href="img/icons/sprite.svg#youtube")
