.languages__inner
    ul.lang__items
        li.lang__item
            a(href="#").lang__link en
        li.lang__item
            a(href="#").lang__link ro
        li.lang__item
            a(href="#").lang__link ru
