.article__inner 
    .article__header
        h2.article__header-title Noutăți și articole 
        button.btn Vezi mai multe  
    .article__items
        .article__content
            img(src="../img/article/article1.png" alt="")
            .article__item
                .article__data  09 
                    .article__data-text IUNIE
                .article__items-text
                    .article__title Frumusetea aparte a semineelor decorative
                    .article__text  O gamă variată de asortiment pentru șemineu. În funcție de dimensiunea, scopul și tipul sistemului de încălzire, oferim dispozitive care îndeplinesc cerințe stricte.
        .article__content
            img(src="../img/article/article2.png" alt="")
            .article__item
                .article__data  31 
                    .article__data-text mai
                .article__items-text
                    .article__title  Sfaturi utile pentru construirea semineului
                    .article__text  Pentru a te bucura de avantajele acstui semineu inovativ ce poate fi amplasta si la bloc...