.barbeque__inner
    .barbeque__item
        img(src="../img/barbeque/bbq_item1.png" alt="")
        p.barbeque__text Clementi Super Flipper
        p.barbeque__text-hidden mai multe detalii 
            svg(class="bbq__svg")
                use(xlink:href="img/icons/sprite.svg#arrow-right")
    .barbeque__item
        img(src="../img/barbeque/bbq_item2.png" alt="")
        p.barbeque__text Clementi Colorado
        p.barbeque__text-hidden mai multe detalii 
            svg(class="bbq__svg")
                use(xlink:href="img/icons/sprite.svg#arrow-right")
    .barbeque__item
        img(src="../img/barbeque/bbq_item3.png" alt="")
        p.barbeque__text Gringo con Base CUBE 
        p.barbeque__text-hidden mai multe detalii 
            svg(class="bbq__svg")
                use(xlink:href="img/icons/sprite.svg#arrow-right")
    .barbeque__item
        img(src="../img/barbeque/bbq_item1.png" alt="")
        p.barbeque__text Clementi Super Flipper
        p.barbeque__text-hidden mai multe detalii 
            svg(class="bbq__svg")
                use(xlink:href="img/icons/sprite.svg#arrow-right")
    .barbeque__item
        img(src="../img/barbeque/bbq_item2.png" alt="")
        p.barbeque__text Clementi Colorado
        p.barbeque__text-hidden mai multe detalii 
            svg(class="bbq__svg")
                use(xlink:href="img/icons/sprite.svg#arrow-right")
    .barbeque__item
        img(src="../img/barbeque/bbq_item3.png" alt="")
        p.barbeque__text Gringo con Base CUBE 
        p.barbeque__text-hidden mai multe detalii 
            svg(class="bbq__svg")
                use(xlink:href="img/icons/sprite.svg#arrow-right")
button(type="button" class="barbeque-prev") prevoius
button(type="button" class="barbeque-next") next